<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bmwparis">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.gestionVehicules.ajoutVehicules.AddVehiculeClient"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity android:name=".activity.gestionVehicules.ajoutVehicules.AddVehiculeOccas" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".activity.gestionVehicules.ajoutVehicules.AddVehiculeNeuf" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".activity.gestionUsers.GestionUsersTechs"></activity>
        <activity android:name=".activity.gestionUsers.GestionUsersAjouter" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".activity.gestionUsers.GestionUsersAdmins" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".activity.gestionUsers.GestionUsersClients" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".activity.gestionUsers.GestionUsers" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".activity.gestionVehicules.GestionVehiculesAjouter" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".activity.gestionVehicules.GestionVehiculesClients"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:parentActivityName=".activity.gestionVehicules.GestionVehicules" />
        <activity
            android:name=".activity.gestionVehicules.GestionVehiculesOccasions"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:parentActivityName=".activity.gestionVehicules.GestionVehicules" />
        <activity
            android:name=".activity.gestionVehicules.GestionVehiculesNeufs"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:parentActivityName=".activity.gestionVehicules.GestionVehicules" />
        <activity
            android:name=".activity.gestionVehicules.GestionVehicules"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:parentActivityName=".activity.AdminMenu" />
        <activity android:name=".activity.AdminMenu" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".activity.connexion.MainActivity" android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>